<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" >
        <title>
            FlexCart
        </title>
    </head>
    <link>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a class="brand">FlexCart</a>
                </div>
                <div>
                    <a>Cart</a>
                    <a>Signin</a>
                </div>

            </header>
            <main>
                <ul>
                    <li>Pro1</li>
                    <li>Pro1</li>
                    <li>Pro1</li>
                    <li>Pro1</li>
                    <li>Pro1</li>
                </ul>

            </main>
            <footer class="row center">
                Designed by Arun
            </footer>
        </div>
    </body>
</html>